{% extends "site/master.html" %} {% block content %}

<h2>Edit</h2>

{{ messages['message']['message']|message( messages['message']['alert'])|raw }}

<form action="/user/update/{{ user.id }}" method="post">
  <input type="hidden" name="_METHOD" value="PUT" />
  <input
    type="text"
    name="firstName"
    class="form-control"
    value="{{ user.firstName }}"
  />
  {{ messages['firstName']['message']|message(
  messages['firstName']['alert'])|raw }}

  <br />
  <input
    type="text"
    name="lastName"
    class="form-control"
    value="{{ user.lastName }}"
  />
  {{ messages['lastName']['message']|message( messages['lastName']['alert'])|raw
  }}
  <br />
  <input
    type="text"
    name="email"
    class="form-control"
    value="{{ user.email }}"
  />
  {{ messages['email']['message']|message( messages['email']['alert'])|raw }}
  <br />
  <input
    type="password"
    name="password"
    class="form-control"
    value="{{ user.password }}"
  />
  {{ messages['password']['message']|message( messages['password']['alert'])|raw
  }}
  <br />
  <button type="submit">Atualizar</button>
</form>

{% endblock %}
